* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  height: 250vh;
}

.header {
  display: block;
  box-sizing: border-box;
}

.navbar-up-background {
  background: #e3a51e;
  padding: 13px 0;
  height: 49px;
}

.container-custom {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.navbar-up-parts {
  font-size: 16px;
  height: 100%;
  width: 100%;
}

.col-lg-6-custom {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  height: 10px;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-lg-8-custom {
  padding: 0;
}

.col-lg-2-custom {
  padding: 0;
}

.navbar-up-part-1 .navar-up-text-1 p {
  color: white;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0;
  width: 100%;
  padding-left: 10px;
  // letter-spacing: 0.5px
}


.dropdown-up {
  width: 150px;
  border: none;
  color: #fff;
  font-size: 14px;
  transition: all 0.3s ease;
  list-style-type: none;
  padding-right: 0;
}

.dropown-up-custm {
  padding-left: 10px;
}

.dropdown-style {
  padding: 0;
}

.dropdown-style-2 {
  border-left: 1px rgba(255, 255, 255, 0.5) solid;
}

.dropdown-up:hover {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  color: black;
  background: #fff;
  width: 120px;
  margin-top: 5px;
  transition: all 1s ease;
  transform: translateY(15px);
  cursor: default;
  list-style-type: none;
  border: 1px solid rgba(128, 128, 128, 0.3);

}

.dropdown-up:hover>.dropdown {
  z-index: 3;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.dropdown-up i {
  border: solid white;
  margin-left: 5px;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.drop-link {
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: 13px;
  padding: 0;
  transition: all 0.3s ease;
  color: #000;
  padding: 5px 0 3px;

}

.drop-link:hover {
  background: transparent;
  color: goldenrod;
}


.drop-link:not(:first-child) {
  border-top: 1px solid #d4dade;
}

.container-custom-2 {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0 15px 0 15px;
}

.row-custom {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 -15px 0 -15px;
  height: 121px;
}

// Navbar Size>>>>>>>>>>
#navbar-2 {
  // height: 121px;
  background-color: white;
}

// Navbar Size<<<<<<<<<<



#logo {
  max-width: 100%;
  // height: 121px;
  display: flex;
  align-items: center;
  height: 100%;
}

.logo a img {
  max-width: 100%;
  border-style: none;
}

.navbar-col-8-custom {
  position: static;
  // border: 1px solid red;
  // width: 0%;
}


.nav-dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

$dropdownav-size: 16px;
$dropdownav-width: 11.7%;
$color-black: black;

// Navbar-bottom center Links>>>>>
.nav-links {
  // border: 1px solid green;

  .nav-dropdown-home {
    padding-top: 4.5px;
    color: goldenrod;
    // border: 1px solid red;
    font-size: $dropdownav-size;
    width: $dropdownav-width;

    i {
      font-size: 10px;
      margin: 0;
      padding: 0;
    }

    .dropdown-custom-home{
      margin-top: 43px;
      width: 160px;
      height: 67px;
      transition: 1.3s;
      border: none;
    }
  
   
  }
  .nav-dropdown-home:hover>.dropdown-custom-home{
    transition: 0.4s;
  }

  .nav-dropdown-pages {
    padding-top: 4.5px;
    color: $color-black;
    font-size: $dropdownav-size;
    width: $dropdownav-width;

    i {
      font-size: 10px;
      margin: 0;
      padding: 0;
    }

    ul a:link{
      font-size: 12px;
      font-weight: 100;
    }

    ul li{
      padding-top:7px;
    }

    ul li:first-child{
      a{
        font-size: 13px;
        font-weight: bold;
      }
    }

    .dropdown-custom-pages{
      transition: 1.3s;
      border: none;
      overflow: hidden;
    }
  
    .droplist-page1{
      margin-top: 43px;
      // width: 292.5px;
      width: 1170px;
      height: 205px;
      left: 15px;
      overflow: hidden;
    }
    .droplist-page2{
      background:none;
      margin-top: 43px;
      width: 292.5px;
      height: 205px;
      left: 308.1px;
    }
    .droplist-page3{
      background:none;
      margin-top: 43px;
      width: 292.5px;
      height: 205px;
      right: 308.1px;
    }
    .droplist-page4{
      background:none;    
      margin-top: 43px;
      width: 300px;
      height: 205px;
      right: 15px;
    }
  }
    .nav-dropdown-home:hover>.dropdown-custom-pages{
      transition: 0.4s;
    }

  .nav-dropdown-shop {
    padding-top: 4.5px;
    color: $color-black;
    font-size: $dropdownav-size;
    width: $dropdownav-width;

    i {
      font-size: 10px;
      margin: 0;
      padding: 0;
    }

    .dropdown-custom-shop{
      margin-top: 43px;
      width: 220px;
      height: 144px;
      transition: 1.3s;
      // border: none;
    }

    ul li:first-child{
      padding-top: 10px;
    }
  
  .dw-home-1{
    margin-top: 43px;
    width: 242px;
    height: 135px;
    transition: 1.3s;
    left: 218px;
    top: -25px;

  }

  .dw-home-2{
    margin-top: 43px;
    width: 242px;
    height: 135px;
    transition: 1.3s;
    left: 218px;
    top: 10px;
  }

  .dw-home-3{
    margin-top: 43px;
    width: 242px;
    height: 135px;
    transition: 1.3s;
    left: 218px;
    top: 45px;
    
  }
  }

  .nav-dropdown-blog {
    padding-top: 4.5px;
    color: $color-black;
    font-size: $dropdownav-size;
    width: $dropdownav-width;

    i {
      font-size: 10px;
      margin: 0;
      padding: 0;
    }

    .dropdown-custom-blog{
      margin-top: 43px;
      width: 220px;
      height: 280px;
      transition: 1.3s;
      // border: none;

    }
  }

  .nav-contact {
    padding-top: 4.5px;
    color: $color-black;
    font-size: $dropdownav-size;
    width: 13.3%;
    transition: 0.4s;
  }

  .nav-contact:hover {
    color: goldenrod;
    cursor: pointer;
    transition: 0.4s;
  }

  .nav-dropdown-pages:hover,
  .nav-dropdown-shop:hover,
  .nav-dropdown-blog:hover {
    color: goldenrod;
  }
}



.nav-icons {
  display: flex;
  flex-wrap: wrap;
  // align-content: center;
  justify-content: end;
}


// nav-icon-search Search-Start>>>>>>>

.searchcontent {
  // border: 1px solid red;
  padding-top: 3px;
  z-index: 4;
}

.search-btn {
  padding: 10px;
  border-radius: 2px;
  color: black;
  font-size: 19px;
  z-index: 1;
}

.search-btn:hover {
  color: goldenrod;
  cursor: pointer;
}

#search-overlay {
  display: none;
}

.block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  margin: 0;
}

.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 0;
}

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 77.5%;
  padding: 0 30px;
  color: #fff;
  border: none;
  background: transparent;
}

#search-box {
  position: relative;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid gold;

  ::placeholder {
    color: #fff;
    font-style: italic;
    font-family: "Montserrat", sans-serif;


  }
}

#search-form {
  height: 4.1em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  outline: none;
}

#search-text {
  font-size: 14px;
  color: #ddd;
  border-width: 0;
  background: transparent;
}


#search-box form input {
  position: absolute;
  left: 0;
  bottom: 13px;
  padding: 1px 2px;
  color: #fff;
  font-size: 16px;
  font-weight: 400px;
  outline: none;

}

#search-box input[type="text"] {
  width: 100%;
  color: white;
  outline: none;
  font-size: 1.3em;
}

#search-button {
  position: absolute;
  top: 0px;
  left: 87%;
  height: 0;
  width: 173px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 42px;
  border-width: 0;
  background-color: transparent;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  transition: 0.4s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;

  i {
    padding-right: 7px;
    font-size: 20px;
  }

  span {
    font-size: 19px;
    color: white;
    width: 100%;
    font-family: "Montserrat", sans-serif;

  }
}

#search-box form button:hover {
  color: goldenrod;
  transition: 0.4s;
}

#close-btn {
  position: fixed;
  top: 2em;
  left: 92.5%;
  z-index: 5;
  opacity: 5;
}

#close-btn:hover {
  color: #777;
  cursor: pointer;

}

// nav-icon-search Search-End>>>>>>>

// nav-icon-search Rotate-CloseButton Start>>>>>>>

@mixin cross($size: 20px, $color: currentColor, $thickness: 1px) {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 20%;
  height: 20%;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: (20px - 5px) / 2;
    left: 0;
    right: 0;
    height: 2px;
    background: goldenrod;
    border-radius: 1px;

  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  span {
    display: block;
  }

}

.btn-close {
  margin: 0;
  border: 0;
  padding: 0;
  background: none;
  border-radius: none;
  width: 80px;
  height: 80px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.6s;
  z-index: 5;

  .icon-cross {
    @include cross(40px, #fff, 6px);
  }

  &:hover,
  &:focus {
    transform: rotateZ(90deg);
    background: none;
  }

}

.nav-search-close-bg {
  width: 50px;
  height: 50px;
  background-color: white;
  position: fixed;
  top: 49.5px;
  right: 49px;
}

// nav-icon-search End>>>>>>>>>


.nav-ico-user-set {

  .nav-user-set {
    width: 35px;
    padding: 2px 0 0 0;
  }

  .nav-user-set i {
    width: 40px;
    font-size: 18px;
    height: 10%;
    color: black;
    // border: 1px solid red;
  }

  .nav-user-set i:hover {
    color: goldenrod;
  }

  .dw-gear-set{
    margin-top: -10px;
      width: 155px;
      height: 135px;
      right: 45px;
      transition: 0.3s;
      // border: none;
  }
  ul li:first-child{
    padding-top:20px ;
  }

}

.nav-ico-basket {
  // border: 1px solid blue;
  padding: 1.1px 0 0 5px;
  width: 35px;

  #cd-cart-trigger i {
    width: 40px;
    font-size: 21px;
    height: 10%;
    color: black;
  }


  #cd-cart-trigger i:hover {
    color: goldenrod;
    cursor: pointer;
  }
}

// nav ico basket panel Start>>>>>>>>>>>>>>>>>>>>>>>

#cd-cart-trigger {
  right: 0;
}

#cd-cart {
  position: fixed;
  top: 0;
  height: 100%;
  width: 260px;
  padding-top: 50px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.cd-cart-block{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  margin: 0;
}

@media only screen and (min-width: 768px) {
  #cd-cart {
    width: 350px;
  }
}

@media only screen and (min-width: 1200px) {
  #cd-cart {
    width: 30%;
    /* header height has changed */
    padding-top: 80px;
  }
}


#cd-cart {
  right: -100%;
  background: #FFFF;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s;
}

#cd-cart button {
  z-index: 5;
}

#cd-cart.speed-in {
  right: 0;
}

#cd-cart>* {
  padding: 0 1em;
}

#cd-cart h2 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}

#cd-cart .cd-cart-items {
  padding: 0;
}

#cd-cart .cd-cart-items li {
  position: relative;
  padding: 1em;
  border-top: 1px solid #e0e6ef;
}

#cd-cart .cd-cart-items li:last-child {
  border-bottom: 1px solid #e0e6ef;
}

#cd-cart .cd-qty,
#cd-cart .cd-price {
  color: #a5aebc;
}

#cd-cart .cd-price {
  margin-top: .4em;
}

.no-touch #cd-cart .cd-item-remove:hover {
  background-color: #e0e6ef;
}

#cd-cart .cd-cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
}

#cd-cart .cd-cart-total span {
  float: right;
}

#cd-cart .cd-cart-total::after {
  content: '';
  display: table;
  clear: both;
}

#cd-cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7dcf85;
  color: #FFF;
  text-align: center;
}

.no-touch #cd-cart .checkout-btn:hover {
  background: #a2dda8;
}

#cd-cart .cd-go-to-cart {
  text-align: center;
  margin: 1em 0;
}

#cd-cart .cd-go-to-cart a {
  text-decoration: underline;
}

// nav ico basket panel End>>>>>>>>>>>>>>>>>>>>>>>

// main slider Start>>>>>>>>>>>>


%animation-default {
  opacity: 1 !important;
  z-index: 1;
}

@mixin carousel($items, $animation: 'default') {
  .carousel {
    width: 100%;
    position: relative;
    overflow: hidden;

    >input[type="radio"] {
      position: absolute;
      left: 0;
      opacity: 0;
      top: 0;

      &:checked {

        ~.carousel__items .carousel__item,
        ~.carousel__prev>label,
        ~.carousel__next>label {
          opacity: 0;
        }
      }

      @for $i from 1 through $items {
        &:nth-child(#{$i}) {
          &:checked {
            ~.carousel__items .carousel__item {
              @if $animation =='default' {
                &:nth-child(#{$i}) {
                  opacity: 1;
                }
              }
            }

            ~.carousel__prev {
              >label {
                @if $i ==1 {
                  &:nth-child(#{$items}) {
                    @extend %animation-default;
                  }
                }

                @else if $i ==$items {
                  &:nth-child(#{$items - 1}) {
                    @extend %animation-default;
                  }
                }

                @else {
                  &:nth-child(#{$i - 1}) {
                    @extend %animation-default;
                  }
                }
              }
            }

            ~.carousel__next {
              >label {
                @if $i ==$items {
                  &:nth-child(1) {
                    @extend %animation-default;
                  }
                }

                @else {
                  &:nth-child(#{$i + 1}) {
                    @extend %animation-default;
                  }
                }
              }
            }

            ~.carousel__nav {
              >label {
                &:nth-child(#{$i}) {
                  background: #ccc;
                  cursor: default;
                  pointer-events: none;
                }
              }
            }
          }
        }
      }
    }

    &__items {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      height: 500px;
      position: relative;
    }

    &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: opacity 2s;
      -webkit-transition: opacity 2s;

      img {
        width: 100%;
        vertical-align: middle;
      }
    }

    &__prev,
    &__next {
      >label {
        border: 1px solid white;
        // border-radius: 50%;
        cursor: pointer;
        background-color: white;
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        opacity: 0;
        z-index: 0;

        &:hover,
        &:focus {
          opacity: .5 !important;
        }

        &:before,
        &:after {
          content: "";
          position: absolute;
          width: inherit;
          height: inherit;
        }

        &:before {
          background: linear-gradient(to top, black 0%, black 10%, rgba(51, 51, 51, 0) 10%),
            linear-gradient(to left, black 0%, black 10%, rgba(51, 51, 51, 0) 10%);
          width: 40%;
          height: 40%;
          top: 30%;

        }
      }
    }

    &__next {
      >label {
        top: 44.9%;
      }
    }

    // olculendirem yuxari asagi move
    &__prev {
      >label {
        left: 1.3%;

        &:before {
          left: 35%;
          top: 30%;
          transform: rotate(90deg);
          -webkit-transform: rotate(135deg);
        }
      }
    }

    &__next {
      >label {
        right: 1.3%;

        &:before {
          left: 10%;
          transform: rotate(315deg);
          -webkit-transform: rotate(315deg);
        }
      }
    }

  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


@include carousel(2);

.carousel-content {
  position: absolute;
  bottom: 49.5%;
}

.carousel-content .slide-1 {
  margin: 0 100px;
  max-width: 400px;

  h5 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
  }


  h2 {
    font-size: 50px;
    font-weight: 600;

    color: #fff;
    line-height: 1.4;
    font-family: "Montserrat", sans-serif;
  }

  p {
    font-size: 16px;
    color: #fff;
    line-height: 1.7;
    margin-bottom: 0;
    width: 95%;
  }


}


.carouse1 button {
  position: relative;
  border-radius: 50px;
  padding: 12px 40px;
  left: 100px;
  bottom: 200px;
  cursor: pointer;
  border: none;
  transition: 0.5s;

}


.carouse1 button:hover {
  background-color: black;
  color: goldenrod;
  transition: 0.5s;
}

.containercustm-2{
  // max-width: 1100px;
}

// main slider End<<<<<<<<<<<<<&


// Navbar scroll start>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


#main-nav-2 {
  background-color: white;
  text-align: center;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  height: 121px;
  // border: 1px solid red;
  z-index: 2;

}


#main-nav-2.sticky {
  position: fixed;
  top: 0;
  height: 76px;
  width: 100%;
  z-index: 2;
  transition: 0.5s;

  // padding-bottom: ;

  // #when-scroll
}

.navbarOffsetMargin {
  height: 80px;
}


// scroll navbar end<<<<<<<<<




#cd-cart:first-child button{
  left: 64%;
  border: 1px solid red;
  width: 60px;
  opacity: 4;
  
}


// main sect service Star>>>>>>


.bg-truck {
  background-color: #fcedda;
}

.bg-24hours{
  background-color: #f2fbcb;
}

.bg-dollar{
  background-color: #f7d8f9;
}

.policy-icon img{
  vertical-align: middle;
  border-style: none;
}



.service-policy-item{
    display: flex;
    padding: 30px;

  h5{
    padding-left: 20px;
  }
  p{
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    padding-bottom: 5px;
  }

  }

  


// main sect service Ends<<<<<<

