@import url(/assets/SCSS/contact-form.scss);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  font-family: "Open Sans", sans-serif; }

.header {
  display: block;
  box-sizing: border-box; }

.navbar-up-background {
  background: #e3a51e;
  padding: 13px 0;
  height: 49px; }

.container-custom {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px; }

.navbar-up-parts {
  font-size: 16px;
  height: 100%;
  width: 100%; }

.col-lg-6-custom {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  height: 10px;
  flex: 0 0 50%;
  max-width: 50%; }

.col-lg-8-custom {
  padding: 0; }

.col-lg-2-custom {
  padding: 0; }

.navbar-up-part-1 .navar-up-text-1 p {
  color: white;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0;
  width: 100%;
  padding-left: 10px; }

.dropdown-up {
  width: 150px;
  border: none;
  color: #fff;
  font-size: 14px;
  transition: all 0.3s ease;
  list-style-type: none;
  padding-right: 0; }

.dropown-up-custm {
  padding-left: 10px; }

.dropdown-style {
  padding: 0; }

.dropdown-style-2 {
  border-left: 1px rgba(255, 255, 255, 0.5) solid; }

.dropdown-up:hover {
  cursor: pointer; }

.dropdown {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  color: black;
  background: #fff;
  width: 120px;
  margin-top: 5px;
  transition: all 1s ease;
  transform: translateY(15px);
  cursor: default;
  list-style-type: none;
  border: 1px solid rgba(128, 128, 128, 0.3); }

.dropdown-up:hover > .dropdown {
  z-index: 4;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px); }

.dropdown-up i {
  border: solid white;
  margin-left: 5px;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px; }

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

.drop-link {
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: 13px;
  padding: 0;
  transition: all 0.3s ease;
  color: #000;
  padding: 5px 0 3px; }

.drop-link:hover {
  background: transparent;
  color: goldenrod; }

.drop-link:not(:first-child) {
  border-top: 1px solid #d4dade; }

.container-custom-2 {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0 15px 0 15px; }

.row-custom {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 -15px 0 -15px;
  height: 121px; }

#navbar-2 {
  background-color: white; }

#logo {
  max-width: 100%;
  display: flex;
  align-items: center;
  height: 100%; }

.logo a img {
  max-width: 100%;
  border-style: none; }

.navbar-col-8-custom {
  position: static; }

.nav-dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.nav-links .nav-dropdown-home {
  padding-top: 4.5px;
  color: goldenrod;
  font-size: 16px;
  width: 11.7%; }
  .nav-links .nav-dropdown-home i {
    font-size: 10px;
    margin: 0;
    padding: 0; }
  .nav-links .nav-dropdown-home .dropdown-custom-home {
    margin-top: 43px;
    width: 160px;
    height: 67px;
    transition: 1.3s;
    border: none; }
  .nav-links .nav-dropdown-home .dd-custm-home {
    margin-top: 18px;
    width: 160px;
    height: 67px;
    transition: 0.4s;
    border: 1px solid rgba(0, 0, 0, 0.1); }

.nav-links .nav-dropdown-home:hover > .dropdown-custom-home {
  transition: 0.4s; }

.nav-links .nav-dropdown-pages {
  padding-top: 4.5px;
  color: black;
  font-size: 16px;
  width: 11.7%; }
  .nav-links .nav-dropdown-pages i {
    font-size: 10px;
    margin: 0;
    padding: 0; }
  .nav-links .nav-dropdown-pages ul a:link {
    font-size: 12px;
    font-weight: 100; }
  .nav-links .nav-dropdown-pages ul li {
    padding-top: 7px; }
  .nav-links .nav-dropdown-pages ul li:first-child a {
    font-size: 13px;
    font-weight: bold; }
  .nav-links .nav-dropdown-pages .dropdown-custom-pages {
    transition: 1.3s;
    border: none;
    overflow: hidden; }
  .nav-links .nav-dropdown-pages .droplist-page1 {
    margin-top: 43px;
    width: 1170px;
    height: 205px;
    left: 15px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.09); }
  .nav-links .nav-dropdown-pages .droplist-page2 {
    background: none;
    margin-top: 43px;
    width: 292.5px;
    height: 205px;
    left: 308.1px; }
  .nav-links .nav-dropdown-pages .droplist-page3 {
    background: none;
    margin-top: 43px;
    width: 292.5px;
    height: 205px;
    right: 308.1px; }
  .nav-links .nav-dropdown-pages .droplist-page4 {
    background: none;
    margin-top: 43px;
    width: 300px;
    height: 205px;
    right: 15px; }
  .nav-links .nav-dropdown-pages .dd-custm-page1 {
    margin-top: 18px;
    width: 1170px;
    height: 205px;
    left: 15px;
    overflow: hidden;
    transition: 0.4s; }
  .nav-links .nav-dropdown-pages .dd-custm-page2 {
    background: none;
    margin-top: 18px;
    width: 292.5px;
    height: 205px;
    left: 308.1px;
    transition: 0.4s; }
  .nav-links .nav-dropdown-pages .dd-custm-page3 {
    background: none;
    margin-top: 18px;
    width: 292.5px;
    height: 205px;
    right: 308.1px;
    transition: 0.4s; }
  .nav-links .nav-dropdown-pages .dd-custm-page4 {
    background: none;
    margin-top: 18px;
    width: 300px;
    height: 205px;
    right: 15px;
    transition: 0.4s; }

.nav-links .nav-dropdown-home:hover > .dropdown-custom-pages {
  transition: 0.4s; }

.nav-links .nav-dropdown-shop {
  padding-top: 4.5px;
  color: black;
  font-size: 16px;
  width: 11.7%; }
  .nav-links .nav-dropdown-shop i {
    font-size: 10px;
    margin: 0;
    padding: 0; }
  .nav-links .nav-dropdown-shop .dropdown-custom-shop {
    margin-top: 43px;
    width: 220px;
    height: 144px;
    transition: 1.3s; }
  .nav-links .nav-dropdown-shop .dd-custm-shop {
    margin-top: 18px;
    width: 220px;
    height: 144px;
    transition: 0.4s;
    border: 1px solid rgba(0, 0, 0, 0.09); }
  .nav-links .nav-dropdown-shop ul li:first-child {
    padding-top: 10px; }
  .nav-links .nav-dropdown-shop .dw-shop-1 {
    margin-top: 43px;
    width: 242px;
    height: 135px;
    transition: 1.3s;
    left: 218px;
    top: -25px; }
  .nav-links .nav-dropdown-shop .dw-shop-2 {
    margin-top: 43px;
    width: 242px;
    height: 135px;
    transition: 1.3s;
    left: 218px;
    top: 10px; }
  .nav-links .nav-dropdown-shop .dw-shop-3 {
    margin-top: 43px;
    width: 242px;
    height: 135px;
    transition: 1.3s;
    left: 218px;
    top: 45px; }

.nav-links .nav-dropdown-blog {
  padding-top: 4.5px;
  color: black;
  font-size: 16px;
  width: 11.7%; }
  .nav-links .nav-dropdown-blog i {
    font-size: 10px;
    margin: 0;
    padding: 0; }
  .nav-links .nav-dropdown-blog .dropdown-custom-blog {
    margin-top: 43px;
    width: 220px;
    height: 280px;
    transition: 0.4s; }
  .nav-links .nav-dropdown-blog .dd-custm-blog {
    margin-top: 18px;
    width: 220px;
    height: 280px;
    transition: 0.4s; }

.nav-links .nav-contact {
  padding-top: 4.5px;
  color: black;
  font-size: 16px;
  width: 13.3%;
  transition: 0.4s;
  color: black; }

.nav-links .nav-contact a {
  color: #000; }

.nav-links .nav-contact a:hover {
  color: goldenrod;
  cursor: pointer;
  transition: 0.4s; }

.nav-links .nav-dropdown-pages:hover,
.nav-links .nav-dropdown-shop:hover,
.nav-links .nav-dropdown-blog:hover {
  color: goldenrod; }

.nav-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: end; }

.searchcontent {
  padding-top: 3px;
  z-index: 4; }

.search-btn {
  padding: 10px;
  border-radius: 2px;
  color: black;
  font-size: 19px;
  z-index: 1; }

.search-btn:hover {
  color: goldenrod;
  cursor: pointer; }

#search-overlay {
  display: none; }

.block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  margin: 0; }

.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 0; }

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 77.5%;
  padding: 0 30px;
  color: #fff;
  border: none;
  background: transparent; }

#search-box {
  position: relative;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid gold; }
  #search-box ::placeholder {
    color: #fff;
    font-style: italic;
    font-family: "Montserrat", sans-serif; }

#search-form {
  height: 4.1em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  outline: none; }

#search-text {
  font-size: 14px;
  color: #ddd;
  border-width: 0;
  background: transparent; }

#search-box form input {
  position: absolute;
  left: 0;
  bottom: 13px;
  padding: 1px 2px;
  color: #fff;
  font-size: 16px;
  font-weight: 400px;
  outline: none; }

#search-box input[type="text"] {
  width: 100%;
  color: white;
  outline: none;
  font-size: 1.3em; }

#search-button {
  position: absolute;
  top: 0px;
  left: 87%;
  height: 0;
  width: 173px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 42px;
  border-width: 0;
  background-color: transparent;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  transition: 0.4s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif; }
  #search-button i {
    padding-right: 7px;
    font-size: 20px; }
  #search-button span {
    font-size: 19px;
    color: white;
    width: 100%;
    font-family: "Montserrat", sans-serif; }

#search-box form button:hover {
  color: goldenrod;
  transition: 0.4s; }

#close-btn {
  position: fixed;
  top: 2em;
  left: 92.5%;
  z-index: 5;
  opacity: 5; }

#close-btn:hover {
  color: #777;
  cursor: pointer; }

.btn-close {
  margin: 0;
  border: 0;
  padding: 0;
  background: none;
  border-radius: none;
  width: 80px;
  height: 80px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.6s;
  z-index: 5; }
  .btn-close .icon-cross {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    position: relative;
    width: 20%;
    height: 20%; }
    .btn-close .icon-cross:before, .btn-close .icon-cross:after {
      content: '';
      position: absolute;
      top: 7.5px;
      left: 0;
      right: 0;
      height: 2px;
      background: goldenrod;
      border-radius: 1px; }
    .btn-close .icon-cross:before {
      transform: rotate(45deg); }
    .btn-close .icon-cross:after {
      transform: rotate(-45deg); }
    .btn-close .icon-cross span {
      display: block; }
  .btn-close:hover, .btn-close:focus {
    transform: rotateZ(90deg);
    background: none; }

.nav-search-close-bg {
  width: 50px;
  height: 50px;
  background-color: white;
  position: fixed;
  top: 49.5px;
  right: 49px; }

.nav-ico-user-set .nav-user-set {
  width: 35px;
  padding: 2px 0 0 0; }

.nav-ico-user-set .nav-user-set i {
  width: 40px;
  font-size: 18px;
  height: 10%;
  color: black; }

.nav-ico-user-set .nav-user-set i:hover {
  color: goldenrod; }

.nav-ico-user-set .dw-gear-set {
  margin-top: -10px;
  width: 155px;
  height: 135px;
  right: 45px;
  transition: 0.3s; }

.nav-ico-user-set ul li:first-child {
  padding-top: 20px; }

.nav-ico-basket {
  padding: 1.1px 0 0 5px;
  width: 35px; }
  .nav-ico-basket #cd-cart-trigger i {
    width: 40px;
    font-size: 21px;
    height: 10%;
    color: black; }
  .nav-ico-basket #cd-cart-trigger i:hover {
    color: goldenrod;
    cursor: pointer; }

#cd-cart-trigger {
  right: 0; }

#cd-cart {
  position: fixed;
  top: 0;
  height: 100%;
  width: 260px;
  padding-top: 50px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 5; }

.cd-cart-block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  margin: 0; }

@media only screen and (min-width: 768px) {
  #cd-cart {
    width: 350px; } }

@media only screen and (min-width: 1200px) {
  #cd-cart {
    width: 30%;
    /* header height has changed */
    padding-top: 80px; } }

#cd-cart {
  right: -100%;
  background: #FFFF;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s; }

#cd-cart button {
  z-index: 5; }

#cd-cart.speed-in {
  right: 0; }

#cd-cart > * {
  padding: 0 1em; }

#cd-cart h2 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0; }

#cd-cart .cd-cart-items {
  padding: 0; }

#cd-cart .cd-cart-items li {
  position: relative;
  padding: 1em;
  border-top: 1px solid #e0e6ef; }

#cd-cart .cd-cart-items li:last-child {
  border-bottom: 1px solid #e0e6ef; }

#cd-cart .cd-qty,
#cd-cart .cd-price {
  color: #a5aebc; }

#cd-cart .cd-price {
  margin-top: .4em; }

.no-touch #cd-cart .cd-item-remove:hover {
  background-color: #e0e6ef; }

#cd-cart .cd-cart-total {
  padding-top: 1em;
  padding-bottom: 1em; }

#cd-cart .cd-cart-total span {
  float: right; }

#cd-cart .cd-cart-total::after {
  content: '';
  display: table;
  clear: both; }

#cd-cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7dcf85;
  color: #FFF;
  text-align: center; }

.no-touch #cd-cart .checkout-btn:hover {
  background: #a2dda8; }

#cd-cart .cd-go-to-cart {
  text-align: center;
  margin: 1em 0; }

#cd-cart .cd-go-to-cart a {
  text-decoration: underline; }

.carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__prev > label:nth-child(2), .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__next > label:nth-child(2), .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__prev > label:nth-child(1), .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__next > label:nth-child(1) {
  opacity: 1 !important;
  z-index: 1; }

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden; }
  .carousel > input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0; }
    .carousel > input[type="radio"]:checked ~ .carousel__items .carousel__item,
    .carousel > input[type="radio"]:checked ~ .carousel__prev > label,
    .carousel > input[type="radio"]:checked ~ .carousel__next > label {
      opacity: 0; }
    .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__items .carousel__item:nth-child(1) {
      opacity: 1; }
    .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__nav > label:nth-child(1) {
      background: #ccc;
      cursor: default;
      pointer-events: none; }
    .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__items .carousel__item:nth-child(2) {
      opacity: 1; }
    .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__nav > label:nth-child(2) {
      background: #ccc;
      cursor: default;
      pointer-events: none; }
  .carousel__items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    height: 500px;
    position: relative; }
  .carousel__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; }
    .carousel__item img {
      width: 100%;
      vertical-align: middle; }
  .carousel__prev > label, .carousel__next > label {
    border: 1px solid white;
    cursor: pointer;
    background-color: white;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    opacity: 0;
    z-index: 0; }
    .carousel__prev > label:hover, .carousel__prev > label:focus, .carousel__next > label:hover, .carousel__next > label:focus {
      opacity: .5 !important; }
    .carousel__prev > label:before, .carousel__prev > label:after, .carousel__next > label:before, .carousel__next > label:after {
      content: "";
      position: absolute;
      width: inherit;
      height: inherit; }
    .carousel__prev > label:before, .carousel__next > label:before {
      background: linear-gradient(to top, black 0%, black 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, black 0%, black 10%, rgba(51, 51, 51, 0) 10%);
      width: 40%;
      height: 40%;
      top: 30%; }
  .carousel__next > label {
    top: 44.9%; }
  .carousel__prev > label {
    left: 1.3%; }
    .carousel__prev > label:before {
      left: 35%;
      top: 30%;
      transform: rotate(90deg);
      -webkit-transform: rotate(135deg); }
  .carousel__next > label {
    right: 1.3%; }
    .carousel__next > label:before {
      left: 10%;
      transform: rotate(315deg);
      -webkit-transform: rotate(315deg); }

.carousel-content {
  position: absolute;
  bottom: 49.5%; }

.carousel-content .slide-1 {
  margin: 0 100px;
  max-width: 400px; }
  .carousel-content .slide-1 h5 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3; }
  .carousel-content .slide-1 h2 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    line-height: 1.4;
    font-family: "Montserrat", sans-serif; }
  .carousel-content .slide-1 p {
    font-size: 16px;
    color: #fff;
    line-height: 1.7;
    margin-bottom: 0;
    width: 95%; }

.carouse1 button {
  position: relative;
  border-radius: 50px;
  padding: 12px 40px;
  left: 100px;
  bottom: 200px;
  cursor: pointer;
  border: none;
  transition: 0.5s; }

.carouse1 button:hover {
  background-color: black;
  color: goldenrod;
  transition: 0.5s; }

#main-nav-2 {
  background-color: white;
  text-align: center;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  height: 121px;
  z-index: 3; }

#main-nav-2.sticky {
  position: fixed;
  top: 0;
  height: 76px;
  width: 100%;
  z-index: 3;
  transition: 0.5s; }

.navbarOffsetMargin {
  height: 80px; }

#cd-cart:first-child button {
  left: 64%;
  border: 1px solid red;
  width: 60px;
  opacity: 4; }

.bg-truck {
  background-color: #fcedda; }

.bg-24hours {
  background-color: #f2fbcb; }

.bg-dollar {
  background-color: #f7d8f9; }

.policy-icon img {
  vertical-align: middle;
  border-style: none; }

.service-policy-item {
  display: flex;
  padding: 30px; }
  .service-policy-item h5 {
    padding-left: 20px; }
  .service-policy-item p {
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    padding-bottom: 5px; }

#head-title {
  padding-top: 5%; }
  #head-title h2 {
    color: #333333;
    font-size: 30px;
    line-height: 1.2;
    padding-bottom: 6px;
    margin-top: -8px;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder; }
  #head-title p {
    font-size: 18px;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 30px; }

.product-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

.product-carousel-4 .product-slide {
  display: block;
  outline: none; }

.slick-vertical .product-slide {
  display: block;
  height: auto;
  outline: 0;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.product-carousel-4 button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  box-shadow: none;
  transition: 0.4s; }

.product-carousel-4 button:active,
.product-carousel-4 button:focus {
  outline: none;
  box-shadow: none; }

input:focus,
textarea:focus {
  outline: none; }

.product-carousel-4 .slick-list {
  margin: 0 -15px; }

.product-carousel-4 .slick-list .product-slide {
  margin: 0 15px; }

/*------- service policy area start -------*/
.service-policy-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px; }

@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (max-width: 767.98px) {
  .service-policy-item {
    display: block;
    text-align: center; } }

.service-policy-item .policy-content {
  padding-left: 20px; }

@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (max-width: 767.98px) {
  .service-policy-item .policy-content {
    margin-top: 20px;
    padding-left: 0; } }

.service-policy-item .policy-title {
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  padding-bottom: 5px; }

.service-policy-item .policy-desc {
  font-size: 16px;
  color: #333333; }

/*------- service policy area end -------*/
/*------- product item start -------*/
.product-item {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  text-align: center;
  width: 270px;
  margin-bottom: 73px !important; }

.product-item:hover {
  border-color: #e3a51e; }

.product-item:hover .product-action-link a {
  opacity: 1;
  visibility: visible; }

.product-item:hover .product-action-link a:first-child {
  right: 130px; }

.product-item:hover .product-action-link a:last-child {
  left: 130px; }

.product-bg {
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto;
  text-align: center; }

.product-bg img {
  margin-left: auto;
  margin-right: auto; }

.product-content {
  padding: 20px 15px 40px; }

.product-content .product-name {
  padding-bottom: 12px; }

.product-name {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize; }

.product-name a {
  color: #333333;
  font-weight: 500; }

.product-name a:hover {
  color: #e3a51e; }

.price-box {
  font-family: "Montserrat", sans-serif;
  line-height: 1; }

.price-regular {
  color: #333333;
  font-size: 18px; }

.price-old {
  font-size: 16px; }

.product-action-link a {
  left: 0;
  right: 0;
  bottom: -23px;
  margin: auto;
  position: absolute;
  color: #e3a51e;
  width: 46px;
  height: 46px;
  font-size: 20px;
  line-height: 46px;
  background-color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #e3a51e;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s; }

.product-action-link a:hover {
  color: #fff;
  background-color: #e3a51e; }

.product-action-link a:nth-child(2) {
  z-index: 2;
  opacity: 1;
  visibility: visible; }

.product-action-link a span {
  display: block; }

/* Policy products size>>>>>>>>>>> */
.product-item:hover .product-bg img,
.product-list-item:hover .product-bg img {
  transform: scale(1.2); }

img {
  max-width: 100%;
  transition: 0.4s; }

.static-part .pl-12 {
  padding-left: 12px; }

.static-part .pr-12 {
  padding-right: 12px; }

.static-part .col-md-6-custom {
  padding: 0;
  overflow: hidden; }

.static-part .img-container {
  position: relative;
  overflow: hidden;
  transition: 0.3s; }
  .static-part .img-container a img {
    max-width: 100%;
    transition: 0.4s;
    vertical-align: middle;
    border-style: none; }
  .static-part .img-container .banner-text {
    left: 0;
    top: 50%;
    width: 100%;
    padding: 0 50px;
    position: absolute;
    z-index: 1;
    transform: translateY(-50%); }
  .static-part .img-container h5 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 14px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif; }
  .static-part .img-container h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.4;
    text-transform: uppercase; }

.img-container:hover {
  transform: scale(1.1);
  transition: 0.3s;
  overflow: hidden;
  filter: grayscale(35%); }

.img-container::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  z-index: 1; }

.top-seller-area {
  padding: 50px; }
  .top-seller-area .padng-top-45 {
    padding-top: 45px; }
  .top-seller-area .section-title {
    padding-bottom: 42px; }
    .top-seller-area .section-title h2 {
      color: #333333;
      font-size: 30px;
      line-height: 1.2;
      padding-bottom: 12px;
      margin-top: -8px;
      text-transform: capitalize; }
    .top-seller-area .section-title p {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 0; }
  .top-seller-area .top-seller-product .product-item-1 {
    overflow: hidden; }
  .top-seller-area .top-seller-product .product-item-1 img:hover {
    transform: scale(1.2);
    transition: 0.3s;
    overflow: hidden; }
  .top-seller-area .top-seller-product .pro-item-content {
    padding-left: 1px; }
  .top-seller-area .top-seller-product .product-name {
    font-size: 16px;
    padding-bottom: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: black; }
  .top-seller-area #ratings {
    color: #e3a51e;
    font-size: 12px;
    padding-top: 20px; }
  .top-seller-area .product-link-2 {
    padding-top: 25px; }
  .top-seller-area .product-link-2 a {
    width: 44px;
    height: 44px;
    font-size: 22px;
    color: #333333;
    line-height: 44px;
    text-align: center;
    display: inline-block;
    background-color: #f6f6f6; }

.top-seller-area .top-seller-product .topseller-carousel .owl-nav {
  visibility: hidden; }

.product-link-2 a:hover {
  background: #e3a51e;
  color: white; }

a {
  text-decoration: none; }

.our-blog-area {
  padding-top: 25px; }
  .our-blog-area .section-title {
    padding-bottom: 42px; }
    .our-blog-area .section-title h2 {
      color: #333333;
      font-size: 30px;
      line-height: 1.2;
      padding-bottom: 12px;
      margin-top: -8px;
      text-transform: capitalize;
      font-weight: 600;
      color: #333333;
      margin-bottom: 0;
      font-family: "Montserrat", sans-serif; }
    .our-blog-area .section-title p {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 0; }
  .our-blog-area .blog-item-content {
    padding-top: 25px; }
    .our-blog-area .blog-item-content a {
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      color: black;
      font-weight: 600;
      text-transform: none; }
    .our-blog-area .blog-item-content .content-box .blog-about {
      padding: 0; }
    .our-blog-area .blog-item-content .content-box ul li {
      color: #666666;
      display: inline-block;
      font-size: 14px;
      list-style: none;
      padding: 0; }
      .our-blog-area .blog-item-content .content-box ul li span {
        font-weight: 600;
        color: black;
        font-family: 'Open Sans', sans-serif; }
    .our-blog-area .blog-item-content .read-more {
      color: #333333;
      opacity: 0.7;
      font-weight: 500;
      font-family: "Montserrat", sans-serif; }
      .our-blog-area .blog-item-content .read-more a {
        font-size: 15px; }
      .our-blog-area .blog-item-content .read-more a:hover {
        color: #e3a51e; }

.brand-area {
  padding: 80px 0; }
  .brand-area .brand-body {
    padding: 0 15px; }

.brand-item img {
  opacity: 0.3;
  max-width: 100%;
  transition: 0.4s; }

.brand-carousel .brand-item img {
  margin: 0 70.5px;
  width: 152px;
  height: 51px; }

.brand-item img:hover {
  opacity: 1; }

.footer-wrapper .footer-area {
  background-color: #f0f0f0;
  padding: 37px 0; }
  .footer-wrapper .footer-area .footer-item {
    margin-top: 40px; }
    .footer-wrapper .footer-area .footer-item .footer-title {
      color: #333333;
      font-size: 18px;
      font-weight: 600;
      line-height: 1;
      margin-top: -4px;
      padding-bottom: 28px;
      text-transform: capitalize;
      color: #333333;
      margin-bottom: 0;
      font-family: "Montserrat", sans-serif; }
    .footer-wrapper .footer-area .footer-item .location-wrap {
      padding: 0; }
      .footer-wrapper .footer-area .footer-item .location-wrap i {
        font-size: 18px;
        padding-right: 10px; }
    .footer-wrapper .footer-area .footer-item .location-wrap li {
      color: #333333;
      font-size: 16px;
      line-height: 1.4;
      margin-bottom: 15px;
      list-style: none;
      font-family: "Open Sans", sans-serif; }
      .footer-wrapper .footer-area .footer-item .location-wrap li .footer-mail:hover {
        color: #e3a51e;
        padding-left: 5px;
        transition: 0.4s; }
      .footer-wrapper .footer-area .footer-item .location-wrap li .footer-phone:hover {
        color: #e3a51e;
        padding-left: 5px;
        transition: 0.4s; }
      .footer-wrapper .footer-area .footer-item .location-wrap li a {
        color: #333333;
        transition: 0.4s; }
  .footer-wrapper .footer-area .footer-body .useful-link {
    padding: 0; }
    .footer-wrapper .footer-area .footer-body .useful-link li {
      line-height: 1;
      margin-bottom: 15px;
      color: #333333;
      font-size: 16px;
      margin-bottom: 15px;
      list-style: none;
      font-family: "Open Sans", sans-serif; }
      .footer-wrapper .footer-area .footer-body .useful-link li a {
        color: #333333;
        transition: 0.4s; }
    .footer-wrapper .footer-area .footer-body .useful-link .text-animat:hover {
      color: #e3a51e;
      padding-left: 5px;
      transition: 0.4s; }
  .footer-wrapper .footer-area .footer-item-3 {
    margin-left: 100px;
    padding: 0 15px; }

.footer-bottom {
  background-color: #e4e4e4;
  padding: 20px 0; }
  .footer-bottom .f-bottom {
    opacity: 0.8; }
  .footer-bottom .f-bottm {
    color: #e3a51e; }

.footer-bottom .footer-social-link a {
  padding: 0 5px;
  color: black;
  transition: 0.4s;
  opacity: 0.8; }
  .footer-bottom .footer-social-link a i {
    transition: 0.4s; }
  .footer-bottom .footer-social-link a :hover {
    color: #e3a51e;
    transition: 0.4s;
    opacity: 1; }

.contactus-content {
  padding: 55px 0 60px; }

.contactus-title {
  font-size: 24px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #333333;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif; }

.contact-form {
  background: transparent;
  margin-bottom: 0;
  padding: 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem; }

.contact-form li:first-child > a {
  color: #e3a51e;
  padding-right: 0.5rem; }

.contact-item {
  font-size: 16px;
  line-height: 1;
  text-transform: capitalize;
  list-style: none;
  padding-left: 0.5rem; }

.contact-form-head h2 {
  color: #333333;
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  margin-top: -4px;
  text-transform: capitalize;
  padding-bottom: 30px;
  font-family: "Montserrat", sans-serif; }

.contact_form .form input,
.contact_form .form textarea {
  width: 100%;
  border: none;
  padding: 10px 10px;
  border-bottom: 3px solid transparent;
  background-color: #f3f6f5;
  margin-bottom: 30px; }

#contact-btn button {
  background-color: black;
  color: #e3a51e;
  border-radius: 0;
  transition: 0.5s; }

#contact-btn button:hover {
  background-color: #e3a51e;
  color: white;
  transition: 0.4s; }

.contact-info ul {
  padding: 0; }

.contact-info ul li {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
  margin-bottom: 15px;
  list-style: none;
  padding: 0; }

.contact-info p {
  margin-top: 0;
  margin-bottom: 1rem; }

.working-time h3 {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 5px; }

.working-time p {
  color: #666666;
  padding-bottom: 30px; }
